**/.idea
**/.shrendd
**/rendered
**/generated
**/pudding
**/custom-rendered
**/target
test/template_extract/config
#test/template_extract_cleanup/config
#test/template_spawn/config
#test/template_spawn_cleanup/config