**/.idea
**/.shrendd
**/rendered
**/generated
**/pudding
**/custom-rendered
**/target
**/node_modules
**/out
**/media/bundled
**/*.vsix
**/template_extract/config
**/template_extract_cleanup/config
**/template_extract_library/config
**/template_extract_library/shrendd
**/template_spawn/config
**/template_spawn_cleanup/config
**/template_remote_library/shrendd.yml
**/template_remote_library/shrendd
**/template_remote_library/deploy/config/config-template.yml
**/shrendd_yaml_stub/shrendd.yml
**/version_latest_default/shrendd
**/version_latest_specified/shrendd
**/offline_library/shrendd.yml
**/offline_library/shrendd
**/offline_plugin/shrendd.yml
**/offline_plugin/shrendd
**/build_with_import/shrendd
**/bootstrap_init/shrendd
**/bootstrap_init/boot.shrendd
**/plugins_command/deploy
documents/tutorials/libraryImport/config
documents/tutorials/libraryImport/deploy
documents/tutorials/libraryImport/boot.shrendd
documents/tutorials/libraryImport/shrendd.yml
documents/tutorials/quickstart
documents/tutorials/extractTemplate/config
documents/examples/helloWorld/mymodule/deploy/shabam