kind: ConfigMap
apiVersion: v1
metadata:
  name: "{{ app.test.name }}"
  namespace: "{{ app.test.namespace }}"
  labels:
    app.kubernetes.io/name: "{{ app.test.name }}"
    app.kubernetes.io/managed-by: "{{ app.test.manager }}"
    app.kubernetes.io/version: "{{ app.test.version }}"
    app.kubernetes.io/component: "{{ app.test.name }}"
    app.kubernetes.io/part-of: "{{ app.test.name }}"
data:
  application-{{ release.stage|lower }}.yml: |
    server:
      port: 8080
      servlet:
        context-path: '/'
    hello:
        world: "Cheeks!"
